{% extends 'base.html.twig' %}

{% block title %}Create Table ORM{% endblock %}

{% block content %}
    <h1>Create Table ORM</h1>

    <form method="post">
        <button type="submit" name="create" class="btn btn-success">Créer la table</button>
    </form>

    <button><a href="{{ path('user_form') }}" class="btn btn-success">Ajouter un nouvel utilisateur</a></button>
    <button><a href="{{ path('user_list') }}" class="btn btn-success">Liste des utilisateurs</a></button>

    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}