{% extends 'base.html.twig' %}

{% block content %}
<h1>Ex09 - ORM et Relations Doctrine</h1>

<div class="list-group my-4">
    <button><a href="{{ path('ex09_form') }}">Ajouter une personne</a></button><br>
    <button><a href="{{ path('ex09_view') }}">Voir les données</a></button>
</div>
{% endblock %}