{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ex05 - Gestion des utilisateurs avec ORM</h1>

    <button>
        <a href="{{ path('ex05_form') }}">Ajouter un utilisateur</a>
    </button>
        |    
    <button>
        <a href="{{ path('ex05_list') }}">Voir la liste</a>    
    </button>
{% endblock %}