{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ex04 - Gestion des utilisateurs</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <button>
        <a href="?create=1" class="btn">Créer la table</a>
    </button>
        |
    <button>
        <a href="{{ path('ex04_form') }}">Ajouter un utilisateur</a>
    </button>
        |    
    <button>
        <a href="{{ path('ex04_list') }}">Voir la liste</a>    
    </button>
{% endblock %}