{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ex12 - Gestion des tables via ORM</h1>

    {# <button><a href="?create_category=1">Créer la table Category</a></button>
    <button><a href="?create_product=1">Créer la table Product</a></button> #}

    {# {% if message %}
        <p>{{ message|raw }}</p>
    {% endif %} #}

    <hr><br>
    <button><a href="{{ path('ex12_add') }}">Ajouter un produit</a></button>
    <button><a href="{{ path('ex12_view') }}">Voir les produits</a></button>
{% endblock %}
