{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ex12 - Gestion des tables via ORM</h1>

    <hr><br>
    <button><a href="{{ path('ex12_add') }}">Ajouter un produit</a></button>
    <button><a href="{{ path('ex12_view') }}">Voir les produits</a></button>
{% endblock %}
