{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ex07 - Modifcation des données avec ORM</h1>

    <p>
        <button>
            <a href="{{ path('ex07_form') }}">Ajouter un utilisateur</a>
        </button>
        |
        <button>
            <a href="{{ path('ex07_list') }}">Voir la liste</a>
        </button>
    </p>
{% endblock %}

