{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ex11 - Gestion des tables</h1>

    <button><a href="?create_category=1">Créer la table Category</a></button>
    <button><a href="?create_product=1">Créer la table Product</a></button>

    {% if message %}
        <p>{{ message|raw }}</p>
    {% endif %}

    <hr>
    <button><a href="{{ path('ex11_add') }}">Ajouter un produit</a></button>
    <button><a href="{{ path('ex11_view') }}">Voir les produits</a></button>
{% endblock %}
